<div class="container">
    <div class="row">
        <div class="row banner">
            <h2>You would like these movies</h2>
            <span class="banner-description">We recommend these movies</span>
        </div>
        <div class="row">
            <div class="col-md-2" ng-repeat="movie in movieRecommendMovieList">
                <div class="thumbnail hall-thumb">
                    <a href="{{movie.tmbdUrl}}" target="_blank"><img class="hall-img" ng-src="{{movie.posterUrl}}"></a>

                    <div class="caption">
                        <h4 class="movie-title" ng-bind="movie.title | limitTo:40"></h4>

                        <a data-toggle="modal"
                           data-target="#rateTrendModal" ng-click="showMovieTrend(movie.movieId)"
                           title="click to see rating trend">Rating:</a>
                        <star star-count="{{movie.avgRating}}"></star>
                        <a class="show-pop" ng-mouseover="showPopover(movie.movieId)" ng-mouseleave="hidePopover()">
                            Show Tags
                        </a>

                        <p>
                            <button class="rate-btn btn btn-success btn-block" data-toggle="modal"
                                    data-target="#rateModal" ng-click="setMovie(movie.movieId)">Let me rate
                            </button>
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="row banner">
            <h2>The highest rated movies</h2>
            <span class="banner-description">Everyone loves these movies</span>
        </div>
        <div class="row">
            <div class="col-md-2" ng-repeat="movie in movieRateHighest">
                <div class="thumbnail hall-thumb">
                    <a href="{{movie.tmbdUrl}}" target="_blank"><img class="hall-img" ng-src="{{movie.posterUrl}}"></a>

                    <div class="caption">
                        <h4 class="movie-title" ng-bind="movie.title | limitTo:40"></h4>

                        <a data-toggle="modal"
                           data-target="#rateTrendModal" ng-click="showMovieTrend(movie.movieId)"
                           title="click to see rating trend">Rating:</a>
                        <star star-count="{{movie.avgRating}}"></star>
                        <a class="show-pop" ng-mouseover="showPopover(movie.movieId)" ng-mouseleave="hidePopover()">
                            Show Tags
                        </a>
                        <p>
                            <button class="rate-btn btn btn-success btn-block" data-toggle="modal"
                                    data-target="#rateModal" ng-click="setMovie(movie.movieId)">Let me rate
                            </button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="row banner">
            <h2>The most rated movies</h2>
            <span class="banner-description">Many folks have rated these movies</span>
        </div>
        <div class="row">
            <div class="col-md-2" ng-repeat="movie in movieRateMost">
                <div class="thumbnail hall-thumb">
                    <a href="{{movie.tmbdUrl}}" target="_blank"><img class="hall-img" ng-src="{{movie.posterUrl}}"></a>

                    <div class="caption">
                        <h4 class="movie-title" ng-bind="movie.title | limitTo:40"></h4>

                        <a data-toggle="modal"
                           data-target="#rateTrendModal" ng-click="showMovieTrend(movie.movieId)"
                           title="click to see rating trend">Rating:</a>
                        <star star-count="{{movie.avgRating}}"></star>
                        <a class="show-pop" ng-mouseover="showPopover(movie.movieId)" ng-mouseleave="hidePopover()">
                            Show Tags
                        </a>
                        <p>
                            <button class="rate-btn btn btn-success btn-block" data-toggle="modal"
                                    data-target="#rateModal" ng-click="setMovie(movie.movieId)">Let me rate
                            </button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="row banner">
            <h2>The recently released movies</h2>
            <span class="banner-description">Newbies~~</span>
        </div>
        <div class="row">
            <div class="col-md-2" ng-repeat="movie in movieNewbies">
                <div class="thumbnail hall-thumb">
                    <a href="{{movie.tmbdUrl}}" target="_blank"><img class="hall-img" ng-src="{{movie.posterUrl}}"></a>

                    <div class="caption">
                        <h4 class="movie-title" ng-bind="movie.title | limitTo:40"></h4>

                        <a data-toggle="modal"
                           data-target="#rateTrendModal" ng-click="showMovieTrend(movie.movieId)"
                           title="click to see rating trend">Rating:</a>
                        <star star-count="{{movie.avgRating}}"></star>
                        <a class="show-pop" ng-mouseover="showPopover(movie.movieId)" ng-mouseleave="hidePopover()">
                            Show Tags
                        </a>
                        <p>
                            <button class="rate-btn btn btn-success btn-block" data-toggle="modal"
                                    data-target="#rateModal" ng-click="setMovie(movie.movieId)">Let me rate
                            </button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="row banner">
            <h2>The most tagged movies</h2>
            <span class="banner-description">Many fans have tagged these movies</span>
        </div>
        <div class="row">
            <div class="col-md-2" ng-repeat="movie in movieTagMost">
                <div class="thumbnail hall-thumb">
                    <a href="{{movie.tmbdUrl}}" target="_blank"><img class="hall-img" ng-src="{{movie.posterUrl}}"></a>

                    <div class="caption">
                        <h4 class="movie-title" ng-bind="movie.title | limitTo:40"></h4>

                        <a data-toggle="modal"
                           data-target="#rateTrendModal" ng-click="showMovieTrend(movie.movieId)"
                           title="click to see rating trend">Rating:</a>
                        <star star-count="{{movie.avgRating}}"></star>
                        <a class="show-pop" ng-mouseover="showPopover(movie.movieId)" ng-mouseleave="hidePopover()">
                            Show Tags
                        </a>
                        <p>
                            <button class="rate-btn btn btn-success btn-block" data-toggle="modal"
                                    data-target="#rateModal" ng-click="setMovie(movie.movieId)">Let me rate
                            </button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<jqcloud class="pop" words="words" width="150" height="150" steps="7" ng-show="popoverIsVisible"></jqcloud>

<div class="modal fade" id="rateModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    Rate this movie
                </h4>
            </div>
            <div class="modal-body">
                <select ng-model="rating" ng-options="t.name for t in rateMap track by t.value"
                        class="form-control">
                    <option value="">--- Rate this movie ---</option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="rate()">Submit</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="rateTrendModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    Rating trend
                </h4>
            </div>
            <div class="modal-body">
                <canvas id="line" class="chart chart-line" chart-data="data"
                        chart-labels="labels" chart-legend="true" chart-series="series">
                </canvas>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

