<div class="container">
    <div class="row">
        <div class="row banner">
            <h2>Tell us your style.

                <span class="likes" ng-bind="getLikes()"></span>
                <button class="btn btn-success pull-right g-movie-hall"
                        ng-class="{true: 'hidden',false:''}[likes.length<3]" ng-click="goToMovieHall()">
                    Go to the movie hall
                </button>
            </h2>
            <span class="banner-description">Choose three movie groups that you love~~</span>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">
                    <div class="img-group">
                        <img class="fav-img" ng-src="{{movie.posterUrl}}" ng-repeat="movie in movieList[0]">
                    </div>

                    <div class="caption">
                        <h3 ng-bind="genres[0]"></h3>

                        <p>
                            <button class="btn btn-primary" ng-click="likeit(genres[0])">Like It</button>
                            <button class="btn btn-default hidden" ng-click="dislikeit(genres[0])">Dislike It</button>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <div class="img-group">
                        <img class="fav-img" ng-src="{{movie.posterUrl}}" ng-repeat="movie in movieList[1]">
                    </div>

                    <div class="caption">
                        <h3 ng-bind="genres[1]"></h3>

                        <p>
                            <button class="btn btn-primary" ng-click="likeit(genres[1])">Like It</button>
                            <button class="btn btn-default hidden" ng-click="dislikeit(genres[1])">Dislike It</button>

                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <div class="img-group">
                        <img class="fav-img" ng-src="{{movie.posterUrl}}" ng-repeat="movie in movieList[2]">
                    </div>

                    <div class="caption">
                        <h3 ng-bind="genres[2]"></h3>

                        <p>
                            <button class="btn btn-primary" ng-click="likeit(genres[2])">Like It</button>
                            <button class="btn btn-default hidden" ng-click="dislikeit(genres[2])">Dislike It</button>

                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">
                    <div class="img-group">
                        <img class="fav-img" ng-src="{{movie.posterUrl}}" ng-repeat="movie in movieList[3]">
                    </div>

                    <div class="caption">
                        <h3 ng-bind="genres[3]"></h3>

                        <p>
                            <button class="btn btn-primary" ng-click="likeit(genres[3])">Like It</button>
                            <button class="btn btn-default hidden" ng-click="dislikeit(genres[3])">Dislike It</button>

                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <div class="img-group">
                        <img class="fav-img" ng-src="{{movie.posterUrl}}" ng-repeat="movie in movieList[4]">
                    </div>

                    <div class="caption">
                        <h3 ng-bind="genres[4]"></h3>

                        <p>
                            <button class="btn btn-primary" ng-click="likeit(genres[4])">Like It</button>
                            <button class="btn btn-default hidden" ng-click="dislikeit(genres[4])">Dislike It</button>

                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <div class="img-group">
                        <img class="fav-img" ng-src="{{movie.posterUrl}}" ng-repeat="movie in movieList[5]">
                    </div>

                    <div class="caption">
                        <h3 ng-bind="genres[5]"></h3>

                        <p>
                            <button class="btn btn-primary" ng-click="likeit(genres[5])">Like It</button>
                            <button class="btn btn-default hidden" ng-click="dislikeit(genres[5])">Dislike It</button>

                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">
                    <div class="img-group">
                        <img class="fav-img" ng-src="{{movie.posterUrl}}" ng-repeat="movie in movieList[6]">
                    </div>

                    <div class="caption">
                        <h3 ng-bind="genres[6]"></h3>

                        <p>
                            <button class="btn btn-primary" ng-click="likeit(genres[6])">Like It</button>
                            <button class="btn btn-default hidden" ng-click="dislikeit(genres[6])">Dislike It</button>

                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <div class="img-group">
                        <img class="fav-img" ng-src="{{movie.posterUrl}}" ng-repeat="movie in movieList[7]">
                    </div>

                    <div class="caption">
                        <h3 ng-bind="genres[7]"></h3>

                        <p>
                            <button class="btn btn-primary" ng-click="likeit(genres[7])">Like It</button>
                            <button class="btn btn-default hidden" ng-click="dislikeit(genres[7])">Dislike It</button>

                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <div class="img-group">
                        <img class="fav-img" ng-src="{{movie.posterUrl}}" ng-repeat="movie in movieList[8]">
                    </div>

                    <div class="caption">
                        <h3 ng-bind="genres[8]"></h3>

                        <p>
                            <button class="btn btn-primary" ng-click="likeit(genres[8])">Like It</button>
                            <button class="btn btn-default hidden" ng-click="dislikeit(genres[8])">Dislike It</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>