<div class="container">
    <div class="row" ng-repeat="movie in movieList">
        <div class="box col-md-3">
            <img class="poster" ng-src="{{movie.posterUrl}}">
        </div>
        <div class="box col-md-9">
            <div class="description">
                <div>
                    <h3 ng-bind="movie.title"></h3>
                    <span class="tags">Tags : <span ng-bind="movie.tags"></span></span>
                </div>
                <span ng-bind="movie.description | limitSize"></span>
            </div>
            <div class="info">
                <div class="detail">
                    <a href="{{movie.movieUrl}}" target="_blank" class="btn btn-success btn-sm">view in
                        movieLens.org</a>
                    <a href="{{movie.imbdUrl}}" target="_blank" class="btn btn-primary btn-sm">view in imdb.com</a>
                    <a href="{{movie.tmbdUrl}}" target="_blank" class="btn btn-info btn-sm">view in tmdb.com</a>

                </div>


                <div class="user-rate">
                    <button class="btn btn-success btn-sm" data-toggle="modal"
                            data-target="#rateModal" ng-click="setMovie(movie.movieId)">Let me rate
                    </button>
                    <button class="btn btn-info btn-sm" data-toggle="modal"
                            data-target="#tagModal" ng-click="setMovie(movie.movieId)">Let me tag
                    </button>
                </div>
                <div class="rating">
                    <a data-toggle="modal"
                       data-target="#rateTrendModal" ng-click="showMovieTrend(movie.movieId)"
                       title="click to see rating trend">Rating:</a>
                    <star star-count="{{movie.avgRating}}"></star>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="rateModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    Rate this movie
                </h4>
            </div>
            <div class="modal-body">
                <select ng-model="rating" ng-options="t.name for t in rateMap track by t.value"
                        class="form-control">
                    <option value="">--- Rate this movie ---</option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="rate()">Submit</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="tagModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel2">
                    Tag this movie
                </h4>
            </div>
            <div class="modal-body">
                <input ng-model="movieTag" class="form-control">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="tag()">Submit</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="rateTrendModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    Rating trend
                </h4>
            </div>
            <div class="modal-body">
                <canvas id="line" class="chart chart-line" chart-data="data"
                        chart-labels="labels" chart-legend="true" chart-series="series">
                </canvas>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>