<div class="jumbotron">
    <div class="container">
        <h1>Discover Your Hollywood!</h1>

        <p>You can find your favourite movies here.</p>

        <p>You can rate movies here. We will recommend you more.</p>

        <p>You can make friends here.</p>

        <p>Let's enjoy it!!!</p>

        <p>
            <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#signupModal">
                Sign up
            </button>
        </p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Search</h2>

            <p>Search the movie and find how others rate and tag. </p>

        </div>
        <div class="col-md-4">
            <h2>Recommend</h2>

            <p>Rate you loved movies. We recommend you more. </p>

        </div>
        <div class="col-md-4" style="color: gainsboro;">
            <h2>Social (will release later)</h2>

            <p>Make your friends here.</p>

        </div>
    </div>

    <hr>

    <footer>
        <p>&copy; 2015 Lingda Tang</p>
    </footer>
</div>
<div class="modal fade" id="signupModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    Sign Up
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="input-group">
                            <span class="glyphicon glyphicon-user input-group-addon" aria-hidden="true"></span>
                            <input type="text" class="form-control" placeholder="Username" ng-model="username">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="input-group">
                            <span class="glyphicon glyphicon-lock input-group-addon" aria-hidden="true"></span>
                            <input type="password" class="form-control" placeholder="Password" ng-model="password">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="signup()">Submit</button>
            </div>
        </div>
    </div>
</div>