<!DOCTYPE html>
<html ng-app="MyApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Discover Hollywood</title>
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="bower_components/angular-chart.js/dist/angular-chart.min.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
    <link href="css/pickfav.css" rel="stylesheet">
    <link href="css/search.css" rel="stylesheet">
    <link href="css/moviehall.css" rel="stylesheet">
    <link href="bower_components/jqcloud2/dist/jqcloud.min.css" rel="stylesheet">
</head>
<body ng-controller="IndexController">
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/moviehall">Discover Hollywood</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <div class="btn-group navbar-form navbar-left">
                <button class="menu btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    menu <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#/moviehall">movie hall</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#/ratedmovies">my rates</a></li>
                    <li><a href="#/taggedmovies">my tags</a></li>
                </ul>
            </div>
            <div id="search" class="navbar-form navbar-left hidden">
                <div class="form-group">
                    <autocomplete ng-model="keyword" data="movies" on-type="updateMovies"></autocomplete>
                </div>
                <button class="btn btn-success btn-sm" ng-click="search()">search</button>
            </div>
            <div id="signin" class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" placeholder="Username" class="form-control" ng-model="user.username">
                </div>
                <div class="form-group">
                    <input type="password" placeholder="Password" class="form-control" ng-model="user.password">
                </div>
                <button class="btn btn-success" ng-click="signin()">Sign in</button>
            </div>
            <div id="loginsuccess" class="hidden navbar-form navbar-right">
                Welcome, <span id="username"></span>!
                <button class="logout btn btn-warning btn-sm" ng-click="logout()">Log out</button>
            </div>
        </div>
    </div>
</nav>

<section>
    <ng-view></ng-view>
</section>

<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-route/angular-route.min.js"></script>
<script src="bower_components/Chart.js/Chart.min.js"></script>
<script src="bower_components/angular-chart.js/dist/angular-chart.min.js"></script>
<script src="bower_components/jqcloud2/dist/jqcloud.min.js"></script>
<script src="bower_components/angular-jqcloud/angular-jqcloud.js"></script>
<script src="js/autocomplete.js"></script>
<script src="js/index.js"></script>
<script src="js/userService.js"></script>
<script src="js/loginController.js"></script>
<script src="js/pickfavController.js"></script>
<script src="js/moviehallController.js"></script>
<script src="js/searchController.js"></script>
<script src="js/ratedMovieController.js"></script>
<script src="js/taggedMovieController.js"></script>
</body>
</html>
