@import url("autocomplete.css");

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

#loginsuccess {
    color: beige;
    line-height: 2;
}

.logout {
    margin-left: 20px;
}

.banner-description {
    margin-left: 30px;
}

.banner {
    margin-bottom: 30px;
}

#search {
    margin-left: 100px;
}

#search input {
    width: 400px;
}