.hall-img {
    width: 100%;
    height: 260px !important;
}

.rate-btn {
    margin-top: 10px;
}

.rating-select {
    width: 80%;
}

.movie-title {
    height: 80px;
}

div.hall-thumb {
    height: 440px;
}