.fav-img {
    width: 33.3%;
    margin-bottom: 3px;
}

.img-group {
    display: flex;
    flex-wrap: wrap;
}

.g-movie-hall {
    margin-right: 100px;
}

span.likes {
    margin-left: 100px;
    color: #8b8d25;
}