.description {
    padding: 20px;
    font-size: x-large;
}

.info {
    margin-bottom: 40px;
}

.rating {
    font-size: large;
    float: right;
    margin-left: 100px;
}

.detail {
    float: left;
}

.box {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}