.description {
    padding: 10px;
    font-size: x-large;
}

.info {
    margin-bottom: 40px;
}

.rating {
    font-size: large;
    float: right;
    margin-left: 100px;
}

.detail {
    float: left;
}

.detail > a {
    margin-right: 10px;
}

.box {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.tags{
    font-size: medium;
    color: brown;
}